@model Metani.Models.JenisTani

@{
    ViewBag.Title = "Details Jenis Tani";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Data Jenis Tani</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-md">
                                    <tr>
                                        <th>ID</th>
                                        <td>@Model.IdJenisTani</td>
                                    </tr>
                                    <tr>
                                        <th>Jenis Tani</th>
                                        <td>@Model.NamaJenisTani</td>
                                    </tr>
                                    <tr>
                                        <th>Action</th>
                                        <td>
                                            <a href="~/JenisTani/Edit/@Model.IdJenisTani" class="btn btn-warning">Edit</a>
                                            <a href="~/JenisTani/Delete/@Model.IdJenisTani" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>