@model IEnumerable<Metani.Models.JenisTanah>

@{
    ViewBag.Title = "Jenis Tanah";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Data Jenis Tanah</h4>
                            <div class="card-header-action">
                                <form>
                                    <div class="input-group">
                                        <a href="~/JenisTanah/Create" class="btn btn-primary">Create New</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped table-md">
                                    <tr>
                                        <th>ID</th>
                                        <th>Jenis Tanah</th>
                                        <th>Action</th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.IdJenisTanah
                                            </td>
                                            <td>
                                                @item.NamaJenisTanah
                                            </td>
                                            <td>
                                                <a href="~/JenisTanah/Edit/@item.IdJenisTanah" class="btn btn-warning">Edit</a>
                                                <a href="~/JenisTanah/Details/@item.IdJenisTanah" class="btn btn-info">Details</a>
                                                <a href="~/JenisTanah/Delete/@item.IdJenisTanah" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>